h1 {
  text-align: center;
  margin-bottom: 0px auto;
}

.blue {
  color: #284da2;
}

/* Style the tab */
.tab {
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.3s;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
