h1 {
  font-size: 3vw;
  text-align: center;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.blue {
  color: #284da2;
}

/* Style the tab */
.tab {
  margin-top: 29px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.3s;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.membersImage {
  width: 100%;
  margin-top: 15px;
}

.logoImages {
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  position: relative;
  top: -30px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sidebyside{
  display: block;
  width: 50%:
  padding: 5px;
}
/*Below is to make the sidebyside class work and clear properly*/
.row::after {
  content: "";
  clear: both;
  display: table;
}
